.contact{
    height: 100ch;
}

.contact form{
    display: flex; flex-direction: column; gap: 1rem;
}

.contact label{
    font-size: 14px; font-weight: 600;
}

.contact input,
.contact textarea {
    padding: 12px 14px; font-size: 14px; border: 1px solid #ccc; border-radius: 8px; outline: none;
}

.contact input:focus,
.contact textarea:focus {  border-color: #00BFA6; box-shadow: 0 0 0 3px rgba(253,191,44,0.2);
}

.contact textarea {  resize: none; }

.contact button { 
    background: #00BFA6;  color: #000;  font-weight: 600;  font-size: 15px;  padding: 14px;
    border: none;  border-radius: 8px;  cursor: pointer;  transition: background 0.3s ease; width: 20%; margin: 0 auto;
}

.contact button:hover {
  background: #00BFA6;
}