#project{ margin-top:30vh;}

#project .project_wrap {display: flex; flex-wrap: wrap; width: max-content;}
      
        
#project .project_item{ width: 500px; flex: 0 0 auto; height: 70vh; padding: 2.5rem; margin-right: 20px;}
#project .project_item > .num{ font-size: 2rem;}
#project .project_item > .img{ display: block; margin-top: -10px; transition: margin-top .3s;}
#project .project_item > .img > img{ border-radius: 7px; filter:saturate(0%); transition:all .3s; max-width: 500px; max-height: 250px;}
#project .project_item > .img > img:hover{margin-top: 0; filter:saturate(100%);}

#project > .project_wrap > .project_item > .desc{            font-size: 1rem;         }
          .pj{
            border: 1px solid var(--black); display: block; text-align: center;
            padding:0.624rem 1.5rem; margin-top: 1.5rem; transition: all 0.2s;
          }